* {
  margin: 0;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  background-color: cyan;
  height: 100vh;
  padding: 10px;
}
.main > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

form {
  border: solid 10px black;
text-align: center;
background-color: gray;
display: inline-block;
padding: 70px;
border-radius: 200px;
}
