* {
  margin: 0;
}
.main {
  display: grid;
  grid-template-columns: 50vw 50vw;
  column-gap: 10px;
  background-color: cyan;
  height: 100vh;
  padding: 10px;
  position: relative;
}
.main > div {
  background-color: black;
  padding: 10px;
}

form {
  border: solid 5px cyan;
  text-align: center;
  background-color:black;
  display: inline-block;
  padding: 70px;
  border-radius: 200px;
  position: absolute;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
}
form h3{
  color:white;
}

@keyframes rightroom {
  from {
    right: 0%;
  }
  to {
    right: -150%;
  }
}

@keyframes leftroom {
  from {
    left: 0%;
  }
  to {
    left: -150%;
  }
}

.left {
  position: absolute;
  animation: leftroom 5s ease-in-out;
  animation-delay: 3s;
  height: 100vh;
  width: 50vw;
  border: 5px solid cyan;
  left: 0;
  opacity: 0.7;
}
.right {
  position: absolute;
  animation: rightroom 5s ease-in-out;
  animation-delay: 3s;
  height: 100vh;
  width: 50vw;
  border: 5px solid cyan;
  right: 0;
  opacity: 0.7;
}



.login button{
  padding: 12px;
  font-size: larger;
  font-weight: 500;
  border: 3px solid cyan;
  border-radius: 2rem;
}

.login input{
  width: 10rem;
  height: 1.25rem;
  border:5px solid cyan;
  border-radius: 5px;
  background-color: black;
  color: aqua;
}